### The Knowledge House
# Innovation Fellowship: Data Science - Phase 1 Week 2
## 10/02 - Intro to Programming

## Exercises

Answer the questions or complete the tasks outlined below, use the specific method described if applicable.
**The code in the answer cell is just the output, not the answer. We put it in there so that it won't go away if you accidentally run a cell.**

Some of these may be hard! That is on purpose. Work with your classmates and google t

**What is 7 to the power of 4?**

In [1]:
print(7**4)

2401

In [2]:
2401

2401

**Split this string:**

    s = "Hi there Sam!"
    
**into a list.**

In [20]:
s= "Hi there Sam!"
x= s.split()
x

['Hi', 'there', 'Sam!']

In [17]:
['Hi', 'there', 'dad!']
x= 'Hi', 'there', 'dad!'.split()
x

('Hi', 'there', ['dad!'])

**Given the variables:**

    planet = "Earth"
    diameter = 12742

**Use .format() to print the following string:**

    The diameter of Earth is 12742 kilometers.
    
**Do the same using an f-string**

In [25]:
planet = "Earth"
diameter = 12742
"The diamater of {planet} is {diameter} kilometers".format(planet= ("Earth"), diameter= ("12742"))

'The diamater of Earth is 12742 kilometers'

In [26]:
"The diamater if {0} is {1}".format(planet,diameter)

'The diamater if Earth is 12742'

In [27]:
f"The diameter of Earth is 12742 kilometers."

'The diameter of Earth is 12742 kilometers.'

**Given this nested list, use indexing to grab the word "hello"**

In [41]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2][0]

'hello'

In [28]:
'hello'

'hello'

**Given the following list, use list comprehension to triple each number**

In [50]:
lst=[1, 2, 3, 4]

In [67]:
lst=[1, 2, 3, 4]
new_list= [x*3 for x in lst]
print(new_list)

[3, 6, 9, 12]

In [71]:
lst=(3,1,2)
updated_lst= [x *3 for x in lst]
print(updated_lst)

[9, 3, 6]

**Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky**

In [77]:
our_dictionary= {'my key':'my value', 'name': 'Oluwamayowa', 'school': 'USC','relationship status':'single'}

In [73]:
print(our_dictionary)

{'my key': 'my value', 'name': 'Oluwamayowa', 'school': 'USC', 'relationship status': 'single'}

In [74]:
#     1...2......3.........4.......................5.........6..................
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [76]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [22]:
'hello'

'hello'

**What is the main difference between a tuple and a list?**

In [23]:
#the difference between a tuple and a list is that you can ammend list but we can't amend tuples. A tuple is like a list we cannot change/

**Given the following Tuple, unpack it into the right number of variables**

In [84]:
colors = ('red','blue','green')
(cherry, blueberry, apple)= colors
print(cherry)
print(blueberry)
print(apple)

red
blue
green

In [86]:
('red', 'blue', 'green')

('red', 'blue', 'green')

**Given the following lists, add them with zip, and print the answer**

In [106]:
list_1 = 1, 2, 3
list_2 = 3, 4, 5

In [95]:
for item1, item2 in zip(list_1, list_2):
    print(item1+item2)

4
6
8

In [96]:
print("""
4
6
8
""")

4
6
8

**Create a function that grabs the email website domain from a string in the form:**

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [107]:
def domainGet(email):
    return email.split('@')[-1]

In [108]:
domainGet('user@domain.com')

'domain.com'

In [109]:
'domain.com'

'domain.com'

**Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

    seq = ['soup','dog','salad','cat','great']

**should be filtered down to:**

    ['soup','salad']

In [110]:
seq = ['soup','dog','salad','cat','great']

In [111]:
['soup','salad']

['soup', 'salad']

### Final Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [112]:
def caught_speeding(speed, is_birthday):
    pass

In [113]:
caught_speeding(81,True)

In [114]:
caught_speeding(81,False)

# Great job!